#basket-div{
  
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px 20px;
    background: linear-gradient(rgba(255, 196, 93, 0.8) ,rgba(20, 20, 2, 0.5));
    display: none;
}
