
.categories{
    overflow-x: auto;
    scroll-behavior: auto;
    white-space: nowrap;
display: flex;
margin-top:65px;
width: 100%;
list-style: none;
gap: 30px;
}
.categories::-webkit-scrollbar{
    display: none;
}

.price{
    color: orange;
}
